.beerDetailsContainer {
  width: 80%;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
}

.beerDetailsSummary {
  margin: 0 auto 2rem auto;
  width: 60%;
  /* min-height: 93ex; 
  TODO - This should work for all but it pushes other details too low for beers with not many food pairings */
  min-height: 70ex;
  display: flex;
  gap: 20%;
  align-items: center;

}

.beerDetailsGeneral {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(22em, 1fr));
}

.beerDetailsSummaryRows {
  display: grid;
  grid-template-rows: repeat(auto-fill, minmax(min-content, 1fr));
}

.imageStyle {
  height: 20rem;
  float: left;
  object-fit: contain;
}

/* DEPRECATED */
.beerDetailContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.beerDetailTitle {
  min-width: max-content;
  color: lightseagreen;
  margin-right: 20%;
}

.beerDetailValue {
  color: rebeccapurple;
}
