.beerDetailsContainer {
  width: 80%;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
}

.imageStyle {
  height: 250px;
  width: 100px;
  margin: 2rem auto;
  object-fit: contain;
}

.beerDetailContainer {
  width: 80%;
  margin: 1% auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.beerDetailTitle {
  min-width: max-content;
  color: lightseagreen;
  margin-right: 20%;
}

.beerDetailValue {
  color: rebeccapurple;
}
